/* white box in the middle */

.content-box {
    position: relative;
    top: -600px;
    left: 100px;
    width: 960px;
    height: 350px;
    padding: 10px;
    veritcal-align: middle;
    background: #ffffff;
    border: 1px solid #dddddd;
}

.wrap-text {
    float: left;
    margin-right: 5px;
}

